<div class="row">

  <div class="col-lg-4">
  <h1><%= @beer.name %></h1></li>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Gallons per Batch</td> 
          <td><strong><%= @beer.batch_yield %> gallons</strong></td>
        </tr>
        <tr>
          <td>Regional Style</td> 
          <td><strong><%= @beer.regional_style %></strong></td>
        </tr>
        <tr>
          <td>Beer Style</td> 
          <td><strong><%= @beer.beer_style %></strong></td>
        </tr>
        <tr>
          <td>Color</td> 
          <td><strong><%= @beer.color %></strong></td>
        </tr>
        <tr>
          <td>O.G.</td> 
          <td><strong><%= @beer.original_gravity %></strong></td>
        </tr>
        <tr>
          <td>F.G.</td> 
          <td><strong><%= @beer.final_gravity %></strong></td>
        </tr>
        <tr>
          <td>Time to Make</td> 
          <td><strong><%= @beer.time_to_make %> weeks</strong></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-lg-8">
    <h2>Description</h2>
    <p><%= @beer.description %></p>
    <img src="<%= @beer.image_url %>"/>
    <span class="btn btn-default"><%= link_to "Edit Beer", beer_path(@beer) %></span>
  </div>

</div>

<div class="row">
  <div class="col-lg-12">
    <h3>Production Notes</h3>
    <% @beer.production_notes.each do |note| %>
        <form method="get" action="/production_notes/<%= note.id %>">
          <input type="submit" value="Production Notes from <%= note.brew_date %>" class="btn btn-default"/>
        </form><br/>
    <% end %>
  </div>
</div>